@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    font-family: 'Noto Sans Thai', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: url('https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6.jpg?w=1436&h=1078') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 50px;
}

section {
    padding: 50px;
}

.project {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #007fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}